<footer class="footer">
    <span style="font-family: 'Noto Sans Mongolian', sans-serif; writing-mode: vertical-rl; text-orientation: upright; font-size: 24px; line-height: 1.8;">{{ site.footerText }}</span>
  <a href="https://www.instagram.com/arvis.xyz" target="_blank" rel="noopener noreferrer">IG</a>
   <a href="https://www.x.com/arvisxyz" target="_blank" rel="noopener noreferrer">X</a>
  <div class="footer-btn theme-toggler hide">
    <i class="svg-icon icon-theme-light"></i>
  </div>
  <div class="footer-btn to-top">
    <i class="svg-icon icon-arrow-top"></i>
  </div>
</footer>
