<footer class="footer">
    <span class="ner">᠒᠐᠒᠕ ᠢᠨ᠋ᠰᠲ᠋ᠠᠭᠷᠠᠮ</span>
    <div class="social-links ner">
  <a href="https://www.wikipedia.org" target="_blank" rel="noopener noreferrer">ᠢᠨ᠋ᠰᠲ᠋ᠠᠭᠷᠠᠮ</a>
    </div> <div class="social-links ner">
          <a href="https://www.wikipedia.org" target="_blank" rel="noopener noreferrer">ᠢᠺᠰ</a>
    </div>
  <div class="footer-btn theme-toggler hide">
    <i class="svg-icon icon-theme-light"></i>
  </div>
  <div class="footer-btn to-top">
    <i class="svg-icon icon-arrow-top"></i>
  </div>
</footer>
